body {
    margin: 0;
    padding: 0;
    background-color: #9D174D;
}

h1 {
    text-align: center;
    margin-bottom: 80px;
    color: white;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 100;
}

.calculator {
    width: 417px;
    height: 518px;
    background-color: #DB2777;
    margin: 0 auto;
    border-radius: 20px;
}

/* Number grid */
.grid div {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* column-gap: 6px; */
    row-gap: 12px;
    margin: 0 50px;
}

.box {
    width: 57px;
    height: 57px;
    background-color: #c4c4c450;
    color: white;
    border: none;
    border-radius: 10px;
    /* opacity: 0.5; */
}

.box:hover {
    background-color: #c4c4c480;
}

/* Input area */
.text-box {
    /* margin: 40px auto; */

    padding-top: 30px;
    padding-bottom: 30px;
}

#input_box {
    display: block;
    font-size: 24px;
    height: 46px;   
    width: 70%;
    margin: 40px auto;
    background-color: #FBCFE8;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
}