body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 40px;
}

.calculator {
    width: 417px;
    height: 518px;
    background-color: #DED8D8;
    margin: 0 auto;
    border: black 1px solid;
}

/* Arrows */
.arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.arrow {
    width: 62px;
    height: 62px;
    margin: auto 20px;
    background-color: #7e7777;
    color: white;
    border: none;
}

/* Number grid */
.grid div {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* column-gap: 6px; */
    row-gap: 12px;
    margin: 0 50px;
}

.box {
    width: 57px;
    height: 57px;
    background-color: #504b4b;
    color: white;
    border: none;
}

/* Input area */
.text-box {
    /* margin: 40px auto; */
    padding-top: 30px;
    padding-bottom: 30px;
}

#input_box {
    display: block;
    font-size: 22px;
    height: 64px;
    width: 90%;
    margin: 0 auto;
}